# Ignore everything by default
*
!.gitignore
!requirements.txt

# Allow Python files in src/
!src/
!src/**/*.py

# Allow JSON files in data/inputs/
!data/inputs/
# !data/inputs/*.json
# !data/inputs/*.csv

# Ignore Python cache and compiled files everywhere
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter and Streamlit artifacts
*.ipynb_checkpoints
*.streamlit

# Ignore virtual environments and package folders
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Ignore all files in data and synthetic except .gitkeep and allowed .json
data/NEM/*
data/processed/*
data/SmartMeterData/*
data/synthetic/*
# !data/.gitkeep

# !synthetic/.gitkeep

# Ignore OS and editor files
.DS_Store
Thumbs.db
.vscode/
.idea/